In [3]:
#Dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
file = "Resources/car_insurance_claim.csv"
claim_data = pd.read_csv(file)
claim_data

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
0,63581743,0,16MAR39,60.0,0,11.0,"$67,349",No,$0,z_No,...,Minivan,yes,"$4,461",2,No,3,$0,18.0,0,Highly Urban/ Urban
1,132761049,0,21JAN56,43.0,0,11.0,"$91,449",No,"$257,252",z_No,...,Minivan,yes,$0,0,No,0,$0,1.0,0,Highly Urban/ Urban
2,921317019,0,18NOV51,48.0,0,11.0,"$52,881",No,$0,z_No,...,Van,yes,$0,0,No,2,$0,10.0,0,Highly Urban/ Urban
3,727598473,0,05MAR64,35.0,1,10.0,"$16,039",No,"$124,191",Yes,...,z_SUV,no,"$38,690",2,No,3,$0,10.0,0,Highly Urban/ Urban
4,450221861,0,05JUN48,51.0,0,14.0,NaN,No,"$306,251",Yes,...,Minivan,yes,$0,0,No,0,$0,6.0,0,Highly Urban/ Urban
5,743146596,0,17MAY49,50.0,0,NaN,"$114,986",No,"$243,925",Yes,...,z_SUV,no,"$19,217",2,Yes,3,$0,17.0,0,Highly Urban/ Urban
6,871024631,0,05MAY65,34.0,1,12.0,"$125,301",Yes,$0,z_No,...,Sports Car,no,$0,0,No,0,"$2,946",7.0,1,Highly Urban/ Urban
7,792300541,0,28FEB45,54.0,0,NaN,"$18,755",No,NaN,Yes,...,z_SUV,no,$0,0,No,0,$0,1.0,0,Highly Urban/ Urban
8,7945239,1,17SEP59,40.0,1,11.0,"$50,815",Yes,$0,z_No,...,Minivan,no,"$3,295",1,No,2,"$6,477",1.0,1,Highly Urban/ Urban
9,3577610,0,21AUG55,44.0,2,12.0,"$43,486",Yes,$0,z_No,...,z_SUV,no,$0,0,No,0,$0,10.0,0,z_Highly Rural/ Rural
10,892208080,1,14DEC61,37.0,2,NaN,"$107,961",No,"$333,680",Yes,...,Van,yes,"$2,374",1,Yes,10,"$4,021",7.0,1,Highly Urban/ Urban
11,77382913,0,22NOV64,34.0,0,10.0,"$62,978",No,$0,z_No,...,z_SUV,no,$0,0,No,0,"$2,501",1.0,1,Highly Urban/ Urban
12,856886560,0,22OCT49,50.0,0,7.0,"$106,952",No,$0,z_No,...,Van,no,$0,0,No,1,$0,17.0,0,z_Highly Rural/ Rural
13,308455362,0,25DEC45,53.0,0,14.0,"$77,100",No,$0,z_No,...,Sports Car,no,$0,0,No,0,"$6,077",11.0,1,Highly Urban/ Urban
14,989828809,0,19JUN56,43.0,0,5.0,"$52,642",No,"$209,970",Yes,...,Minivan,no,$0,0,No,0,$0,1.0,0,z_Highly Rural/ Rural
15,376482434,0,03MAR44,55.0,0,11.0,"$59,162",No,"$180,232",Yes,...,Van,yes,"$5,028",2,Yes,3,$0,9.0,0,Highly Urban/ Urban
16,665591504,0,19JUL46,53.0,0,11.0,"$130,795",No,$0,z_No,...,Panel Truck,yes,$0,0,No,3,"$1,267",10.0,1,Highly Urban/ Urban
17,713692930,0,17AUG64,35.0,2,NaN,"$21,204",Yes,$0,z_No,...,Pickup,no,$0,0,Yes,0,$0,4.0,0,z_Highly Rural/ Rural
18,588888550,0,17JAN54,45.0,0,0.0,$0,No,"$106,859",Yes,...,z_SUV,no,$0,0,No,3,"$2,920",5.0,1,Highly Urban/ Urban
19,140015922,0,06AUG60,39.0,3,12.0,"$51,884",Yes,"$180,951",z_No,...,z_SUV,no,$0,0,No,0,$0,13.0,0,z_Highly Rural/ Rural
20,162166370,0,19APR40,59.0,0,12.0,"$87,460",No,$0,z_No,...,Minivan,yes,"$44,857",2,No,4,"$4,111",1.0,1,Highly Urban/ Urban
21,884513944,0,20DEC56,42.0,0,11.0,"$59,945",No,"$192,207",Yes,...,Minivan,no,$0,0,No,0,$0,16.0,0,Highly Urban/ Urban
22,627708979,0,14SEP65,34.0,3,13.0,"$34,019",No,"$91,875",Yes,...,z_SUV,no,$0,0,No,0,$0,20.0,0,Highly Urban/ Urban
23,116375554,0,06OCT68,31.0,2,12.0,"$18,903",No,"$93,797",Yes,...,Minivan,no,$0,0,No,0,$0,7.0,0,Highly Urban/ Urban
24,235358484,0,22FEB71,28.0,1,13.0,"$44,077",No,"$170,598",Yes,...,z_SUV,no,"$8,935",2,No,0,"$6,857",1.0,1,Highly Urban/ Urban
25,528040687,0,07FEB56,43.0,0,13.0,"$37,214",No,NaN,Yes,...,Panel Truck,yes,$0,0,No,3,"$3,627",1.0,1,Highly Urban/ Urban
26,652572577,0,16DEC50,48.0,0,14.0,"$96,274",No,"$282,904",Yes,...,z_SUV,no,"$8,250",1,No,5,$0,14.0,0,Highly Urban/ Urban
27,410873772,0,24JUL52,47.0,0,11.0,"$46,281",No,$0,z_No,...,Minivan,no,$0,0,No,1,$0,5.0,0,Highly Urban/ Urban
28,254362485,2,06JUL55,44.0,2,0.0,$0,No,"$82,344",Yes,...,z_SUV,no,"$3,338",3,No,0,$0,11.0,0,Highly Urban/ Urban
29,69165559,0,14APR53,46.0,0,14.0,NaN,No,"$207,519",Yes,...,Panel Truck,no,"$2,119",1,No,2,$0,12.0,0,Highly Urban/ Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,24974672,1,29AUG53,46.0,0,10.0,"$84,667",No,"$236,725",Yes,...,Panel Truck,no,$0,0,No,0,$0,7.0,0,Highly Urban/ Urban
10273,176017386,0,14JUL51,48.0,0,12.0,"$66,613",No,"$209,239",Yes,...,z_SUV,no,$0,0,No,0,$0,5.0,0,z_Highly Rural/ Rural
10274,630264509,0,15SEP43,56.0,0,11.0,"$12,917",No,NaN,z_No,...,z_SUV,no,$0,0,No,0,$0,12.0,0,Highly Urban/ Urban
10275,241052590,0,13FEB56,43.0,0,7.0,"$119,579",No,"$331,156",z_No,...,z_SUV,no,"$10,137",1,No,5,$0,12.0,0,Highly Urban/ Urban
10276,254781726,0,21AUG58,41.0,0,9.0,"$126,829",No,"$334,777",Yes,...,Minivan,yes,$0,0,No,2,$0,20.0,0,Highly Urban/ Urban
10277,573751437,0,15DEC63,35.0,0,7.0,"$64,890",No,$0,z_No,...,z_SUV,no,$0,0,No,1,$0,12.0,0,Highly Urban/ Urban
10278,990710715,0,12JUN53,46.0,0,0.0,$0,No,$0,Yes,...,Sports Car,no,"$20,519",1,Yes,3,$0,8.0,0,z_Highly Rural/ Rural
10279,309195361,0,12MAY50,49.0,0,12.0,"$60,049",No,"$227,054",z_No,...,z_SUV,no,$0,0,No,0,$0,1.0,0,z_Highly Rural/ Rural
10280,446338957,0,19OCT53,46.0,0,12.0,"$43,501",No,"$134,977",Yes,...,Minivan,no,$0,0,No,2,$0,1.0,0,z_Highly Rural/ Rural
10281,135158827,0,06NOV57,42.0,0,12.0,"$80,078",No,"$266,403",Yes,...,Minivan,no,$0,0,No,2,$0,16.0,0,Highly Urban/ Urban
10282,334144351,0,21SEP63,36.0,2,13.0,"$131,335",Yes,"$352,524",z_No,...,Sports Car,no,$0,0,No,0,$0,4.0,0,z_Highly Rural/ Rural
10283,527126964,0,13JAN61,38.0,3,8.0,"$83,458",Yes,"$232,182",z_No,...,Sports Car,no,"$9,298",2,No,3,$0,9.0,0,Highly Urban/ Urban
10284,233372274,0,26JUN44,55.0,0,10.0,"$141,083",No,"$393,624",Yes,...,Sports Car,no,$0,0,No,0,$0,22.0,0,z_Highly Rural/ Rural
10285,542253104,0,22AUG58,41.0,0,12.0,"$92,185",No,"$289,370",Yes,...,Minivan,yes,$0,0,No,0,"$1,815",10.0,1,Highly Urban/ Urban
10286,510001503,0,03MAY39,60.0,0,12.0,"$19,796",No,"$153,061",z_No,...,Sports Car,no,"$2,800",2,No,4,$0,1.0,0,Highly Urban/ Urban
10287,622965460,0,11OCT54,45.0,0,11.0,"$52,966",No,$0,z_No,...,Pickup,yes,"$16,239",2,Yes,5,"$2,967",1.0,1,Highly Urban/ Urban
10288,812664761,0,13NOV45,54.0,0,11.0,"$69,111",No,"$291,969",Yes,...,Van,yes,"$5,038",1,No,3,$0,1.0,0,Highly Urban/ Urban
10289,573568276,0,13MAR45,54.0,0,13.0,"$62,060",No,"$244,889",Yes,...,Minivan,no,$0,0,No,3,$0,1.0,0,Highly Urban/ Urban
10290,788620578,0,06FEB45,54.0,0,13.0,"$81,818",No,"$272,725",Yes,...,Van,no,"$24,690",1,Yes,6,$0,4.0,0,Highly Urban/ Urban
10291,813128,1,14FEB53,46.0,0,12.0,"$45,018",No,$0,z_No,...,Minivan,no,"$33,026",3,No,0,$0,1.0,0,z_Highly Rural/ Rural
10292,452807843,0,19DEC50,48.0,0,10.0,"$111,305",No,$0,z_No,...,z_SUV,no,$0,0,No,4,$0,18.0,0,Highly Urban/ Urban
10293,814422920,0,17AUG48,51.0,0,10.0,"$128,523",No,$0,z_No,...,Panel Truck,no,"$3,995",3,No,1,"$3,288",15.0,1,Highly Urban/ Urban
10294,721196389,1,18OCT61,38.0,4,16.0,"$12,717",No,$0,Yes,...,Pickup,no,"$9,245",3,No,3,$0,15.0,0,Highly Urban/ Urban
10295,215633551,0,15MAY58,41.0,0,7.0,"$6,256",No,$0,z_No,...,Pickup,no,$0,0,No,0,$0,7.0,0,z_Highly Rural/ Rural
10296,121441578,0,01JUL64,35.0,0,11.0,"$43,112",No,$0,z_No,...,Panel Truck,yes,$0,0,No,0,$0,8.0,0,z_Highly Rural/ Rural
10297,67790126,1,13AUG54,45.0,2,9.0,"$164,669",No,"$386,273",Yes,...,Minivan,no,$0,0,No,2,$0,17.0,0,Highly Urban/ Urban
10298,61970712,0,17JUN53,46.0,0,9.0,"$107,204",No,"$332,591",Yes,...,Panel Truck,no,$0,0,No,0,$0,1.0,0,Highly Urban/ Urban
10299,849208064,0,18JUN51,48.0,0,15.0,"$39,837",No,"$170,611",Yes,...,z_SUV,no,$0,0,No,0,$0,1.0,0,Highly Urban/ Urban
10300,627828331,0,12DEC48,50.0,0,7.0,"$43,445",No,"$149,248",Yes,...,Minivan,no,$0,0,No,0,$0,11.0,0,Highly Urban/ Urban
10301,680381960,0,27FEB47,52.0,0,11.0,"$53,235",No,"$197,017",Yes,...,Minivan,no,$0,0,No,0,$0,9.0,0,z_Highly Rural/ Rural

In [5]:
claim_data.dtypes

ID              int64
KIDSDRIV        int64
BIRTH          object
AGE           float64
HOMEKIDS        int64
YOJ           float64
INCOME         object
PARENT1        object
HOME_VAL       object
MSTATUS        object
GENDER         object
EDUCATION      object
OCCUPATION     object
TRAVTIME        int64
CAR_USE        object
BLUEBOOK       object
TIF             int64
CAR_TYPE       object
RED_CAR        object
OLDCLAIM       object
CLM_FREQ        int64
REVOKED        object
MVR_PTS         int64
CLM_AMT        object
CAR_AGE       float64
CLAIM_FLAG      int64
URBANICITY     object
dtype: object

In [ ]:
#del claim_data[]

In [6]:
claim_data.count()

ID            10302
KIDSDRIV      10302
BIRTH         10302
AGE           10295
HOMEKIDS      10302
YOJ            9754
INCOME         9732
PARENT1       10302
HOME_VAL       9727
MSTATUS       10302
GENDER        10302
EDUCATION     10302
OCCUPATION     9637
TRAVTIME      10302
CAR_USE       10302
BLUEBOOK      10302
TIF           10302
CAR_TYPE      10302
RED_CAR       10302
OLDCLAIM      10302
CLM_FREQ      10302
REVOKED       10302
MVR_PTS       10302
CLM_AMT       10302
CAR_AGE        9663
CLAIM_FLAG    10302
URBANICITY    10302
dtype: int64

In [7]:
#drop rows with missing information 
claim_data = claim_data.dropna(how='any')

In [8]:
claim_data.count()

ID            7657
KIDSDRIV      7657
BIRTH         7657
AGE           7657
HOMEKIDS      7657
YOJ           7657
INCOME        7657
PARENT1       7657
HOME_VAL      7657
MSTATUS       7657
GENDER        7657
EDUCATION     7657
OCCUPATION    7657
TRAVTIME      7657
CAR_USE       7657
BLUEBOOK      7657
TIF           7657
CAR_TYPE      7657
RED_CAR       7657
OLDCLAIM      7657
CLM_FREQ      7657
REVOKED       7657
MVR_PTS       7657
CLM_AMT       7657
CAR_AGE       7657
CLAIM_FLAG    7657
URBANICITY    7657
dtype: int64

In [13]:
#disply an overview of a column
claim_data["MSTATUS"].value_counts()

Yes     6188
z_No    4114
Name: MSTATUS, dtype: int64

In [17]:
# yes with married & z_No with single 
claim_data['MSTATUS'] = claim_data['MSTATUS'].replace({'Yes':'married', 'z_No':'single'})

In [18]:
claim_data['MSTATUS'].value_counts()

married    6188
single     4114
Name: MSTATUS, dtype: int64

In [19]:
#disply a statistical over view
claim_data.describe(include='all')

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
count,1.030200e+04,10302.000000,10302,10295.000000,10302.000000,9754.000000,9732,10302,9727,10302,...,10302,10302,10302,10302.000000,10302,10302.000000,10302,9663.000000,10302.000000,10302
unique,NaN,NaN,6560,NaN,NaN,NaN,8151,2,6334,2,...,6,2,3545,NaN,2,NaN,2346,NaN,NaN,2
top,NaN,NaN,20OCT60,NaN,NaN,NaN,$0,No,$0,married,...,z_SUV,no,$0,NaN,No,NaN,$0,NaN,NaN,Highly Urban/ Urban
freq,NaN,NaN,8,NaN,NaN,NaN,797,8959,2908,6188,...,2883,7326,6292,NaN,9041,NaN,7556,NaN,NaN,8230
mean,4.956631e+08,0.169288,NaN,44.837397,0.720443,10.474062,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.800718,NaN,1.710153,NaN,8.298148,0.266550,NaN
std,2.864675e+08,0.506512,NaN,8.606445,1.116323,4.108943,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.154079,NaN,2.159015,NaN,5.714450,0.442177,NaN
min,6.317500e+04,0.000000,NaN,16.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,-3.000000,0.000000,NaN
25%,2.442869e+08,0.000000,NaN,39.000000,0.000000,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,1.000000,0.000000,NaN
50%,4.970043e+08,0.000000,NaN,45.000000,0.000000,11.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,1.000000,NaN,8.000000,0.000000,NaN
75%,7.394551e+08,0.000000,NaN,51.000000,1.000000,13.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.000000,NaN,3.000000,NaN,12.000000,1.000000,NaN
max,9.999264e+08,4.000000,NaN,81.000000,5.000000,23.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.000000,NaN,13.000000,NaN,28.000000,1.000000,NaN

In [27]:
# Create a new DataFrame that looks into a category 
#e.g
single = claim_data['MSTATUS']=='single'
claim_single = claim_data.loc[single]
claim_single.head()

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
0,63581743,0,16MAR39,60.0,0,11.0,"$67,349",No,$0,single,...,Minivan,yes,"$4,461",2,No,3,$0,18.0,0,Highly Urban/ Urban
1,132761049,0,21JAN56,43.0,0,11.0,"$91,449",No,"$257,252",single,...,Minivan,yes,$0,0,No,0,$0,1.0,0,Highly Urban/ Urban
2,921317019,0,18NOV51,48.0,0,11.0,"$52,881",No,$0,single,...,Van,yes,$0,0,No,2,$0,10.0,0,Highly Urban/ Urban
6,871024631,0,05MAY65,34.0,1,12.0,"$125,301",Yes,$0,single,...,Sports Car,no,$0,0,No,0,"$2,946",7.0,1,Highly Urban/ Urban
8,7945239,1,17SEP59,40.0,1,11.0,"$50,815",Yes,$0,single,...,Minivan,no,"$3,295",1,No,2,"$6,477",1.0,1,Highly Urban/ Urban

In [34]:
claim_single = claim_data.loc[claim_data['MSTATUS']=='single',['INCOME','MSTATUS']]
claim_single.head()

     INCOME MSTATUS
0   $67,349  single
1   $91,449  single
2   $52,881  single
6  $125,301  single
8   $50,815  single